%html

  %head
    %link(rel="stylesheet"){:href => url("/styles.css")}

  %body

    %h1= @plan

    .row
      - @results.each do |result|
        .build.result{:class => result.status}
          .number ##{result.number}
          - result.stages.each do |stage|
            .stage.result{:class => stage.status}
              .name= stage.name
