%html

  %head
    %link(rel="stylesheet"){:href => url("/styles.css")}

  %body

    %h1= @plan

    .row
      - @results.each do |result|
        .panel
          .build.result{:class => result.status}
            .label ##{result.number}
          - result.stages.each do |stage|
            .stage.result{:class => stage.status}
              .label= stage.name
